<ion-header [translucent]="true">
  <ion-toolbar>

    <!-- Botón del Menú (Inicio) -->
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>

    <!-- Título Centrado -->
    <ion-title>Levelia</ion-title>

    <!-- Botón de Búsqueda (Lupa) -->
    <ion-buttons slot="end">
      <ion-button (click)="toggleSearchBar()">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

  <!-- Barra de Búsqueda + Historial -->
  <ion-toolbar *ngIf="showSearch">
    <ion-searchbar [(ngModel)]="searchQuery" (ionInput)="updateSearchHistory()"></ion-searchbar>
  </ion-toolbar>

  <!-- Historial de Búsqueda -->
  <ion-list *ngIf="showSearch">
    <ion-item *ngFor="let item of searchHistory" (click)="selectSearch(item)">
      {{ item }}
    </ion-item>
  </ion-list>

</ion-header>
